.content {
  width: 100%;
  min-height: 610px;
  height: 610px;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 2.5fr;
  grid-template-rows: 114px 1fr;
  grid-template-areas: "image personalInfo" "image personalDetails";
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.imageContent {
  width: 100%;
  grid-area: image;
  background: #414141;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image {
  height: 100%;
}

.title {
  grid-area: personalInfo;
  font-size: 37.5px;
  text-align: right;
}

.personalDetails {
  grid-area: personalDetails;
  background: #f9f9f9;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 20px;
  margin-bottom: 10px;
}

.desc {
  color: #a9a9a9;
}

.label {
  width: 170px;
  font-weight: bold;
  color: var(--native-dark);
  text-transform: uppercase;
}

.name {
  color: var(--white);
}

.jobTitle {
  color: #569da1;
}


@media (max-width: 1200px) {
  .personalDetails {
    padding-right: 20px;
  }
  .info {
    font-size: 16px;
  }
  .content {
    min-height: 450px;
    height: 450px;
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-areas: "personalInfo personalInfo" "image personalDetails";
  }
}
