.svg {
  width: 170px;
  height: 220px;
  cursor: pointer;
}

.externalCircle {
  transform-origin: 85px 85px;
}

.text {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  fill: var(--native-dark);
}

.image {
  transition-duration: 1s;
  transform-origin: left bottom;
}

.g {
  overflow: hidden;
}

.percent {
  fill: var(--primary-dark);
  transform: rotate(-90deg);
  transition-duration: .5s;
  font-size: 2rem;
  font-weight: bold;
  transform-origin: left bottom;
}

.svg:hover image {
  transform: rotate(90deg);
}

.svg:hover .percent {
  transform: rotate(0deg);
}
