.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  max-height: 70px;
  width: 100%;
}

.menuItem {
  color: var(--white);
  font-size: 20px;
  padding: 0 24px;
  text-decoration: none;
}

.cv {
  font-size: 52px;
  letter-spacing: 3px;
  text-align: right;
  color: #f9f9f9;
  padding: 0 100px;
  text-decoration: none;
}

.cv::first-letter {
  font-weight: bold;
}

@media (max-width: 1500px) {
  .menuItem {
    font-size: 18px;
    padding: 0 18px;
  }
}

@media (max-width: 1300px) {
  .menuItem {
    font-size: 16px;
    padding: 0 16px;
  }

  .cv {
    font-size: 34px;
    padding: 0 80px;
  }
}

@media (max-width: 1200px) {
  .menuItem {
    padding: 0 8px;
  }

  .cv {
    font-size: 34px;
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  .navigation {
    flex-direction: column;
    align-items: flex-end;
    max-height: 115px;
  }

  .menuItem {
    padding: 0 8px 8px;
  }
}
