.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 480px;
  padding: 100px 0;
}

.header {
  color: var(--native-dark);
  width: 100%;
  font-size: 33.5px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 50px;
}

.main {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-gap: 24px;
  flex-wrap: wrap;
}
