:root {
  --primary-light: #569DA1;
  --primary-dark: #44374A;
  --native-dark: #433346;
  --native-black: #555555;
  --white: #FFFFFF;
  --native-white: #EDEDED;
  --native-white-1: #F5F5F5;
}

.t {
  color: #e01d84;
  color: #da1e85;
  color: #c72085;
  color: #b52284;
}
